---
# Required fields
title: Text
description: A block of rich text content.

# Default values
textContent: >-
  Lorem ipsum dolor sit _amet_.

# CMS Fields
cms:
  - name: textContent
    label: Body
    widget: markdown
---

{# Component HTML, using the default values above #}
<section class="block block-{{ title | slugify }}">
  <article class="container">
    {{- textContent | markdown | safe -}}
  </article>
</section>
