---
permalink: /
description: "Build a website with ZeroPoint, a corporate-free website starter with a content management system for stakeholders, reusable components for designers, and a developer-friendly workflow."
title: ZeroPoint - A corporate-free website starter project
---
<header id="page-header">
  <hr>
  <ul class="buttons" style="margin-top: 2rem; justify-content: center;">
    <li>
      <a class="button button-launch" href="https://github.com/MWDelaney/ZeroPoint/generate">
        Start Right Now
      </a>
    </li>
    <li>
      <a class="button button-code" href="https://github.com/MWDelaney/zeropoint">
        or look at the code
      </a>
    </li>
  </ul>
  <p>
    This site is built with ZeroPoint. <a href="https://github.com/MWDelaney/getzeropoint.com">See what you'll get</a>.
  </p>
</header>

<h2 id="about">A <strong class="text-gradient">corporate-free</strong> website starter project that gets you up to zero.</h2>
<p class="lead">ZeroPoint is a free and open-source website starter project that helps you get your website project up and running quickly.</p>
<p class="lead">Focusing on simplicity, version control, and native web technology, ZeroPoint provides a solid foundation for your website without the bloat of unnecessary databases, server-side languages, frameworks or monolithic content management systems.</p>
<h3 id="features">Features</h3>
<ul>
  <li>🏗️ Static site generation with <a href="https://www.11ty.dev/">Eleventy</a></li>
  <li>🧩 Reusable components with <a href="https://github.com/MWDelaney/eleventy-plugin-reusable-components">Eleventy Reusable Components</a></li>
  <li>🔍 Full-text search with <a href="https://pagefind.app/">Pagefind</a></li>
  <li>🌐 No frameworks, unless you add them. All native web code: HTML, CSS, and JavaScript</li>
  <li>📄 Example content types and site data</li>
  <li>⚙️ Custom fields built in!</li>
  <li>🎨 Sass and Javascript asset pipelines</li>
  <li>🔧 Extensible to add <a href="#adding-a-cms">content management</a>, e-commerce, contact forms, and more.</li>
  <li>🆓 <strong>Free from corporate ownership and tracking</strong></li>
</ul>

<h2 id="get-started">Get Started with ZeroPoint</h2>

<ol class="steps">
  <li>
    <h3 id="you-have-to-start-somewhere">You have to start somewhere</h3>

    <p>Generate a new GitHub repository using the ZeroPoint template (click <a href="https://github.com/MWDelaney/ZeroPoint/generate">here</a>) or using GitHub CLI:</p>

    {% highlight "bash" %}
      gh repo create my-new-site --template MWDelaney/ZeroPoint
    {% endhighlight %}

    <p>Install dependencies:</p>

    {% highlight "bash" %}
      npm install
    {% endhighlight %}

    <p>Start your local development server:</p>

    {% highlight "bash" %}
      npm dev
    {% endhighlight %}

    <h4>Next steps</h4>
    <ul>
      <li>Edit the home page: <code>src/content/pages/index.md</code></li>
      <li>Add or edit navigation: <code>src/data/navigation.json</code></li>
      <li>Change colors and styles: <code>src/assets/styles/</code></li>
    </ul>

    <p>See the complete <a href="https://github.com/MWDelaney/ZeroPoint/">ZeroPoint Starter documentation</a> to keep going!</p>
  </li>
  <li>
    <h3 id="build-with-components">Build with Components</h3>
    <p>Create reusable HTML components, patterns, and templates using <a href="https://github.com/MWDelaney/eleventy-plugin-reusable-components">Eleventy Reusable Components</a>.</p>
    <p>Install the Eleventy Reusable Components plugin:</p>

    {% highlight "bash" %}
      npm install --save-dev eleventy-plugin-reusable-components
    {% endhighlight %}

    <p>Uncomment the plugin's configuration in <code>src/config/plugins.js</code>:</p>

{% highlight "js" %}
import reusableComponents from "eleventy-plugin-reusable-components";

/**
  * ZeroPoint Reusable Components plugin
  * https://github.com/MWDelaney/eleventy-plugin-reusable-components
  */
async reusableComponents (eleventyConfig) {
  // Add plugin to eleventyConfig
  eleventyConfig.addPlugin(reusableComponents, {
    componentsDir: "src/assets/components/*.njk"
  });

  // Register CSS and JS component bundles
  eleventyConfig.addBundle("componentCss", {
    toFileDirectory: "assets/styles/",
  });

  eleventyConfig.addBundle("componentJs", {
    toFileDirectory: "assets/scripts/",
  });
}
{% endhighlight %}

      See the <a href="/building-with-blocks/">Building with Blocks</a> for details on creating and using your first component.
  </li>
  <li>
    <h3 id="deploy-to-the-web">Deploy to the web</h3>
    <p>
      Deploy your site to the web using
      <a href="https://www.netlify.com/">Netlify</a>,
      <a href="https://pages.cloudflare.com/">Cloudflare Pages</a>,
      <a href="https://docs.github.com/en/pages">GitHub Pages</a>,
      or your favorite hosting provider.
    </p>
    <p>We maintain a set of <a href="https://github.com/MWDelaney/eleventy-github-deployment">example GitHub Actions and Workflows</a> along with documentation to help you get your site online using a variety of hosting types.</p>
  </li>
</ol>

<h2 id="Next Steps">Next Steps</h2>
<ol class="steps">
  <li>
    <h3 id="enable-the-blog">Enable the blog</h3>
    <p>Blogging functionality is included in ZeroPoint Starter, but not enabled by default.</p>
    <p>To enable the blog:</p>
    <ol>
      <li>
        <p>Uncomment the blog collection in <code>src/config/collections.js</code></p>
        <details>
          <summary><code>src/config/collections.js</code></summary>
{% highlight "js" %}
/**
  * All Posts (includes all languages)
  */
posts(eleventyConfig) {
  eleventyConfig.addCollection('posts', (collectionApi) => {
    return collectionApi.getFilteredByGlob(['src/content/posts/**/*.md', 'src/content/*/posts/**/*.md']);
  });
}
{% endhighlight %}
        </details>
      </li>
      <li>
        <p>Uncomment the blog index page's content in <code>src/content/blog.njk</code></p>
        <details>
          <summary><code>src/content/blog.njk</code></summary>
{% highlight "markdown" %}
{% raw %}
---
layout: base.njk
permalink: /blog/{% if pagination.pageNumber > 0 %}/page/{{ pagination.pageNumber + 1 }}{% endif %}/index.html
pagination:
  data: collections.posts
  size: 10
  alias: posts
  reverse: true
eleventyComputed:
  title: Blog {% if pagination.pageNumber > 0 %}(Page {{ pagination.pageNumber + 1 }}) {% endif %}
---
<section class="blog">
  {%- for post in posts -%}
    <article class="blog-post">
      <header>
        <h2><a href="{{ post.url }}">{{ post.data.title }}</a></h2>
        <datetime datetime="{{ post.date }}">{{ post.date }}</datetime>
        {%- if post.data.tags -%}
          <ul class="tags">
            {%- for tag in post.data.tags -%}
              <li class="tag">{{ tag }}</li>
            {%- endfor -%}
          </ul>
        {%- endif -%}
      </header>
      {{- post.templateContent | safe -}}
    </article>
  {%- endfor -%}

  <nav class="pagination">
  {%- if pagination.href.previous -%}
    <a href="{{ pagination.href.previous }}">Previous</a>
  {%- else -%}
    <span class="previous">Previous</span>
  {%- endif -%}

  {%- if pagination.href.next -%}
    <a href="{{ pagination.href.next }}">Next</a>
  {%- else -%}
    <span class="next">Next</span>
  {%- endif -%}
  </nav>

</section>
{% endraw %}
{% endhighlight %}
        </details>
      </li>
      <li>
        <p>Create a new blog post in <code>src/content/posts/</code></p>
        <details>
          <summary><code>src/content/posts/</code></summary>
          <p>Each post should be a <a href="https://www.markdownguide.org/">Markdown</a> file with frontmatter metadata.</p>
          <p>For example:</p>
{% highlight "yaml" %}
---
title: My First Blog Post
date: 2023-01-01
---
# My First Blog Post
Welcome to my blog!
{% endhighlight %}
        </details>
      </li>
      <li>
        <p>Add a link to the blog in your navigation by editing <code>src/data/navigation.json</code></p>
        <details>
          <summary><code>src/data/navigation.json</code></summary>
{% highlight "json" %}
{
  "items": [
    {
      "text": "Home",
      "url": "/",
      "external": false
    },
    {
      "text": "Blog",
      "url": "/blog/",
      "external": false
    }
  ]
}
{% endhighlight %}
        </details>
      </li>
    </ol>
  </li>
</ol>

<hr>

<ul class="buttons" id="adding-a-cms">
  <li>
    <a class="button button-launch" href="/adding-a-cms/">Next: Adding a CMS</a>
  </li>
</ul>
