<div class="block-library-block-content">
  <h3>{{ item.data.title }} Block Preview</h3>
    <details open>
      <summary>Show / hide block preview</summary>
      <div class="block-preview" id="{{ title | slugify }}-rendered">
          {{ content | safe }}
      </div>
    </details>
  <h3>{{ item.data.title }} Block Source Code</h3>
  <details>
    <summary>Show / hide source code</summary>
      <div class="block-source" id="{{ item.data.title | slugify }}-source">
        <div class="component-wrapper">
          {% highlight "yml" %}
          {{- item | getFrontmatter | safe -}}
          {% endhighlight %}
          {% highlight "html" %}
          {{- item.rawInput | safe -}}
          {% endhighlight %}
        </div>
      </div>
  </details>

  <h3>Use {{ item.data.title }} in your content</h3>
  <details>
    <summary>Show / hide usage example</summary>
    <div class="block-usage" id="{{ item.data.title | slugify }}-usage">
{%- highlight "njk" -%}
{% raw %}{{- {% endraw %}
  {
  "type": "{{ item.data.title | slugify }}",
    {%- for field in item.data.cms %}
      {%- if field.widget == "list" and field.fields %}
        "{{ field.name }}": [
          {%- for entry in item.data[field.name] %}
            {
              {%- for subfield in field.fields %}
             "{{ subfield.name }}": "{{ entry[subfield.name] | safe }}"{%- if not loop.last %},{% endif %}
              {%- endfor %}
            }{%- if not loop.last %},{% endif %}
          {%- endfor %}
        ],
      {%- else %}
  "{{ field.name }}": "{{ item.data[field.name] | safe }}",
      {%- endif %}
    {%- endfor %}
  } | renderComponent | safe
{% raw %}-}}{% endraw %}
{%- endhighlight -%}
    </div>
  </details>
</div>
